<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://wallpaper-house.com/data/out/8/wallpaper2you_224355.jpg" alt="Card image cap"
                class="image-responsive">
            <div class="card-body">
                <h5 class="card-title">Call Of Duty</h5>
                <p class="card-text description">The hallmark intensity of Call of Duty returns with an epic
                    single-player campaign that takes players deep behind enemy lines as an elite Black Ops soldier
                    engaging in covert warfare, classified operations, and explosive conflicts across the globe.</p>

                <div>
                    <div class="price float-left">$38.91</div>
                    <a href="#" class="btn btn-primary float-right">Add to cart</a>
                </div>

            </div>
        </div>
    </div>
</div>